.list {
  display: grid;
  margin: 0;
  margin-top: var(--size-gap);
  margin-bottom: var(--size-gap);
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: rgb(233, 88, 0);
}

.listItem:nth-child(2)::marker {
  color: rgb(21, 155, 243);
}

.listItem:nth-child(3)::marker {
  color: rgb(142, 184, 20);
}

.listItem:nth-child(4)::marker {
  color: rgb(102, 51, 153);
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  margin-top: var(--space-1);
  margin-bottom: 0;
  color: var(--color-text);
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}
